RAILS_ENV=production
LOCAL_DOMAIN=social.host
ALTERNATE_DOMAINS="localhost"
SINGLE_USER_MODE=true
ES_ENABLED: "false"

SECRET_KEY_BASE=5d7b76b8811b624efe5386493565892db1c93285fca3abac589737bce0e1e341280d05db831d407fa8cae8b762b91ff95b5c8997d8b12d27bd80740a71d23cec
OTP_SECRET=5d440a6ae5968c1f7c71f4b68c8d0135b91dffe4fd0f4e922d8a735d28125209a260db5a6d2136586126b9e0aad07b4bc9a27f216a6abf595aa651c1a5b6850e
VAPID_PRIVATE_KEY=s47Xlb1L1hexyjYqeDKddeY2gsKbILR0CMhR6xwOW5U=
VAPID_PUBLIC_KEY=BHY8qi1ZJhoLmYhGnwvQSfciGR0SaP0CqhinynqGYRj_EuMcYjLlEGgWwFhlRmq_RfkTtsWShZHsIO-AjAOLh1M=

DB_HOST=postgres
DB_PORT=5432
DB_NAME=mastodon
DB_USER=docker
DB_PASS=docker

POSTGRES_USER=docker
POSTGRES_PASSWORD=docker
POSTGRES_DB=mastodon

REDIS_URL=redis://redis:6379
SMTP_SERVER=localhost
SMTP_PORT=25
SMTP_AUTH_METHOD=none
SMTP_OPENSSL_VERIFY_MODE=none
SMTP_ENABLE_STARTTLS=auto
SMTP_FROM_ADDRESS='Mastodon <notifications@social.host>'
